<title>{{ site.title }}</title>

<meta name="description" content="{{ site.description }}">

<!-- Google Font: Lato -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- FontAwesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- Themes -->
<link rel="stylesheet" id="light-css" href="{{ "/assets/css/light.css" | relative_url }}">
<link rel="stylesheet" id="dark-css" disabled="disabled" href="{{ "/assets/css/dark.css" | relative_url }}">

<!-- jQuery -->
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>

<!-- ScrollReveal -->
<script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>

<!-- Main JS -->
<script type="text/javascript" src="{{ "/assets/js/main.js" | relative_url }}"></script>