<!-- ################################ -->
<!-- ############ FOOTER ############ -->
<!-- ################################ -->

<section class="site-footer o-section  t-section  o-section--footer">

    <div class="o-section__header-bg  t-section__header"></div>
    <div class="o-section__content-bg  t-section__content"></div>

    <div class="o-container">
        <div class="o-section__container">

            <header class="o-section__header  t-section__header">
                <div class="o-content"></div>
            </header><!-- /o-section__header -->

            <div class="o-section__content  t-section__content  ">

                <div class="o-content">
                    <div class="c-footer__bottom">
                        <div class="c-footer__brand">

                            <div class="c-brand">
                                <div class="o-content__body">
                                    <h1 class="c-brand__title  t-title">
                                        <span class="c-brand__sizer  c-brand__sizer--sm">
                                            <span class="c-footer  c-brand__first-word  t-title__first-word">
                                                Keith
                                            </span>
                                            <span class="c-footer  c-brand__second-word  t-title__second-word">
                                                Lamprecht
                                            </span>
                                        </span>
                                    </h1>
                                </div><!-- /o-content__body -->
                            </div><!-- /c-brand -->

                        </div><!-- /c-footer__brand -->

                        <ul class="c-footer__social-buttons  c-social-buttons  o-content__body">
                            <li class="c-footer">
                                <a href="https://www.github.com/{{ site.github_username }}/" target="_blank" class="c-social-button  t-social-button">
                                    <i class="fab  fa-lg  fa-github"></i>
                                </a>
                            </li>
                            <li class="c-footer">
                                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" target="_blank" class="c-social-button  t-social-button">
                                    <i class="fab  fa-lg  fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="c-footer">
                                <a href="https://cash.me/${{ site.cash_username }}" target="_blank" class="c-social-button  t-social-button">
                                    <i class="fas  fa-lg  fa-coffee"></i>
                                </a>
                            </li>
                            <li class="c-footer">
                                <a id="theme-switcher" class="c-social-button  t-social-button">
                                    <i class="fas  fa-lg  fa-moon"></i>
                                </a>
                            </li>
                            <li class="c-footer">
                                <a href="{{ site.url }}/rss/" target="_blank" class="c-social-button  t-social-button">
                                    <i class="fas  fa-lg  fa-rss"></i>
                                </a>
                            </li>
                        </ul><!-- /c-footer__social-buttons -->

                    </div><!-- /c-footer__bottom -->
                </div><!-- /o-content -->

            </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
    </div><!-- /o-container -->

</section><!-- /o-section -->